*.pyc
.vscode/
debug_scripts/
logs/
logs
models/*.ckpt
weights/*.ckpt
**__pycache__**
/output
train.py
data_splits_backup/
data_scripts/
datasets/OmniScenes_dataset.py
datasets/S2D3D_dataset.py
matterport_utils/
S2D3D_utils/
test_utils/
visualization_scripts/
test_backup.py
**build/
*.so